<page>
  <page-header>
    <page-title>Shopping Application</page-title>
  </page-header>
  <page-body>
    <div>
      Welcome to the Shopping application.
      <br>
      <br>
      This is a sample application to showcase end-to-end data flow between the Angular 2 UI, .NET WebApi2, nHibernate into a MySql DB and back.
      Eventually the DevExtreme grid will be implemented and SignalR to show realtime edits roundtripping.
      <br>
      <br>
      Please use the navigation bar to begin.
    </div>
  </page-body>
</page>