<page>
  <page-header>
    <page-title>Customers</page-title>
  </page-header>
  <page-body>
    <dx-data-grid
      [dataSource]="customers"
      (onRowInserted)="onRowInserted($event)"
      (onRowUpdated)="onRowUpdated($event)"
      (onRowRemoved)="onRowRemoved($event)"
      (onRowValidating)="onRowValidating($event)"
    >
      <dxo-editing
        *ngIf="editCustomers"
        mode="batch"
        [allowUpdating]="true"
        [allowDeleting]="true"
        [allowAdding]="true"
      >
      </dxo-editing>
      <dxi-column dataField="firstName" caption="Forename(s)">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="lastName" caption="Surname">
        <dxi-validation-rule type="required"></dxi-validation-rule>        
      </dxi-column>
      <dxi-column dataField="city" caption="City"></dxi-column>
      <dxi-column dataField="favouriteFood.id" caption="Favourite Food">
        <dxo-lookup [dataSource]="products" displayExpr="name" valueExpr="id"></dxo-lookup>
      </dxi-column>
      <dxi-column dataField="emailAddress" caption="E-mail Address">
        <dxi-validation-rule type="required"></dxi-validation-rule>        
        <dxi-validation-rule type="email"></dxi-validation-rule>        
      </dxi-column>
    </dx-data-grid>
  </page-body>
</page>
