<div>
  <h2>Search customers</h2>

  <label>Search by</label>
  <filter 
    *ngFor="let i of filterCountArray"
    [remainingFilters]="remainingSearchableParams()"
  >
  </filter>
  <button (click)="addFilter()" [disabled]="!canAdd()">+</button>
  <button (click)="removeFilter()" [disabled]="!canRemove()">-</button>
  <button (click)="submit()" [disabled]="!canSubmit()">Search</button>
  <dx-data-grid [dataSource]="customerSearchResults" class="search-grid">
    <dxi-column dataField="firstName" caption="Forename(s)"></dxi-column>
    <dxi-column dataField="lastName" caption="Surname"></dxi-column>
    <dxi-column dataField="city" caption="City"></dxi-column>
    <dxi-column dataField="favouriteFood.id" caption="Favourite Food">
      <dxo-lookup [dataSource]="products" displayExpr="name" valueExpr="id"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="emailAddress" caption="E-mail Address"></dxi-column>
  </dx-data-grid>
</div>